<div>

<h1>
  Here be history yo
</h1>
<p>
  YOLO til you can't nomo.
</p>
<p>
  This page is boring and dull, but fear not...my creator will make me pretty. By adding a cool logo, a background picture, and other stuff. For now, feel free to click on the link to this really awesome timeline.
</p>

<%= link_to 'Timeline', persons_path %>

</div>
