<div>

<h1>
  Here be history yo

  Blahblahblahblahblah
</h1>
<p>
  This page is boring and dull, but for now feel free to click the link to this really awesome timeline.
</p>

<%= link_to 'Timeline', persons_path %>

</div>
